<% layout('layouts/boilerplate')%>

    <main class="container mt-5 mb-5">
        <h1>
            <%=existCategory.name%> already exist
        </h1>

        <h3>Would you like to edit the category ?</h3>

        <a href="/categories/<%=existCategory._id%>/edit">
            Edit
        </a>
    </main>