<% layout('layouts/boilerplate')%>

    <main class="container mt-5 mb-5">
        <h1>
            <%=existProduct.name%> already exist
        </h1>

        <h3>Would you like to edit the prouduct ?</h3>

        <a href="/products/<%=existProduct._id%>/edit">
            Edit
        </a>
    </main>